<div class="parser-container">
    <div class="parser-container-header">
        <p class="project-title">Resume Parser</p>
        <p class="project-description">
            An Angular app for extracting text from PDF Resumes via OCR or Text.
        </p>
    </div>
    <div class="parser-options">
        <mat-tab-group>
            <mat-tab label="Text-Based Parsing">
                <ng-resume-parser-textparser></ng-resume-parser-textparser>
            </mat-tab>
            <mat-tab label="OCR-Based Parsing">
                <ng-resume-parser-ocrparser></ng-resume-parser-ocrparser>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>